@import "tailwindcss";

@theme {
  --color-mokka: #4a3728; /* El color de tu conjunto */
  --font-luxury: "Inter", sans-serif;
}

body {
  @apply bg-stone-50 text-stone-900 overflow-x-hidden;
  font-family: var(--font-luxury);
}